body {
	margin-top: 200px;
	background-color: #55ACEE;
}

.header {
	color: white;
	font-style: italic;
	font-size: 250%;
	text-align: center;
	font-family: arial;
	letter-spacing: 6px;
	line-height: 0px;
	
	position: fixed;
	height: 80px;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: #292f33;
}

.user {
	font-size: 120%;
	margin-left: 30%;
	margin-right: 30%;
	line-height: 15px;
	font-style: bold;
	color: blue;
}

.content {
	margin-left: 32%;
	margin-right: 30%;
	line-height: 15px;
	color: #292f33;
}

.time {
	font-size: 60%;
	margin-left: 30%;
	margin-right: 30%;
	line-height: 15px;
	color: #292f33;
	text-align: right;
}

.input_block {
	position: fixed;
	height: 110px;
	top: 80px;
	left: 0px;
	right: 0px;
	background-color: #55ACEE;
	box-shadow: 0 0 10px 5px #55ACEE;
}

.submit {
	color: white;
	background-color: #292f33;
	border-radius: 10px;
	margin-left: 30%;
}

.refresh {
	color: white;
	background-color: #292f33;
	border-radius: 10px;
	margin-left: 0px;
}

textarea {
	margin-left: 30%;
	margin-top: 10px;
	width: 40%;
	height: 60px;
}